/* Custom scrollbar styles */
#scrollbar {
  /* Remove the padding-right */
  padding-right: 0;

  /* Add overflow-x: hidden to prevent horizontal scrollbar */
  overflow-x: hidden;
}

/* Hide the default scrollbar */
#scrollbar::-webkit-scrollbar {
  width: 7px;
}

/* Track */
#scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#scrollbar::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border-radius: 6px;
}

/* Handle on hover */
#scrollbar::-webkit-scrollbar-thumb:hover {
  background: #545454;
}